*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
    .continer{
        height: 600px;
        width: 600px;
        border: 1px solid black;
        display: grid;

    }
    .box{
        height: 50px;
        width: 50px;
        border: 1px solid black;
        grid-template-columns: 10px 10px 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10px 20px 10px;
        }