*{
    margin: 0%;
    padding: 0%;
    background-origin:border-box;
}
.container{
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid black;

}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin: auto;
    margin-top:20px;
    background-color: darkseagreen;
    text-align: center;
    transition:all 1s;
}
.box:hover{
   transform:scale(2);
   transform: scaleX(2);
   transform: scaleY(3);

   transform: rotate(45deg);
   transform: rotateX(45'angle');
   transform: rotateY(90'angle');

transform: skew(45deg);
transform: skewX(60deg);
transform: skewY(360deg);


transform:translate(100px);
transform: translateX(50px);
transform: translateY(90px);
    
    

}